* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav li {
  margin-right: 1rem;
}
/* flex-container */
/* main-axis */
/* cross-axis */
/* 부모요소(container) */
/* display-flex
flex-direction
flex-wrap
jusify-content
align-item
align-content
 */

/* 자식요소(item) */
/* flex */
/* flex-grow
flex-shrink
flex-basis
order */

/* margin 중요함 */

.container {
  background: #eee;
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;

  /* flex-direction: row;
  flex-wrap: wrap; */
  /* justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: space-between;

  align-items: center; */

  /* align-content: space-between;
  align-content: space-around; */
}

.box {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  line-height: 100px;
  text-align: center;
}

.box1 {
  background: #fad390;
  /* order: 2; */
  flex-basis: 200px;
}

.box2 {
  background: #f6b93b;
  /* order: 3; */
  flex-basis: 300px;
  /* flex: 1; */
  /* margin: auto; */
}

.box3 {
  background: #fa983a;
  flex: 1;
  /* order: 1; */
}

.box4 {
  background: #e58e26;
}

.box5 {
  background: #b8e994;
}

.box6 {
  background: #78e08f;
}

.box7 {
  background: #38ada9;
}

.box8 {
  background: #079992;
}

.box9 {
  background: #6a89cc;
}

.box10 {
  background: #4a69bd;
}

header {
  height: 80px;
  box-shadow: 0.4px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  list-style: none;
}

li {
  list-style: none;
}

h1 {
  margin-right: 3rem;
}
.nav {
  display: flex;
}

.gnb {
  margin-left: auto;
  /* margin-right: auto; */
}
